* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 3px;
}
  
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
::-webkit-scrollbar-thumb {
    background: #888;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    font-family: "Caslon";
}

header { 
    padding-left: 2%;
    padding-right: 2%;
    box-sizing: border-box;
    min-height: 30px;
    color: #FFFFFF;
    height: 70px;
    background-color: #06030F;
}

h1 {
    text-decoration-line: underline;
}

#modeButton-1 {
    display: inline;
}

#modeButton-2 {
    display: none;
}

.main {
    width: 95.75%;
    text-align: center;
    align-items: center;
    display: flex;
    margin: auto;
    margin-left: 4.25%;
}

.page-title {
    font-size: 25px;
    font-family: sans-serif;
    align-items: center;
}

.primary-navigation {
    display: flex;
    font-size: 18px;
    margin-left: 13%;
    margin-right: 6%;
}

.secondary-navigation {
    display: flex;
    gap: 50px;
    margin:auto;
    margin-left: 32%;
    align-items: center;
}

.secondary-navigation li, .secondary-navigation li a  {
    text-decoration: none;
    list-style: none;
}

.social-primary {
    display: flex;
    margin-left: 10.5%;
}

.social-media {
    display: flex;
    gap: 1.2rem;
    margin:auto;
    margin-left: 9%;
}

.social-media li, .social-media li a  {
    text-decoration: none;
    list-style: none;
}

a.focus:link, a.focus:visited{
    color:grey;
}

a:link {
    color: #FFFFFF;
    background-color: transparent;
    text-decoration: none;
  }

a:visited {
    color: #FFFFFF;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: grey;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: grey;
    background-color: transparent;
    text-decoration: underline;
  }

.fa {  
    padding: 20px;  
    text-align: center;  
    margin: 5px 2px;  
    font-size: 30px;  
    width: 50px;  
} 

.fa-facebook {  
    color: white;  
    width: 10px;
}  

.fa-github {  
    color: white;  
    width: 10px;
}

.fa-instagram {  
    color: white;
    width: 10px;  
}

.fa:hover {  
    opacity: 0.9;  
}  

.fa-moon-o {
    color: white;
    width: 10px;
    cursor: pointer;
}

.fa-sun-o {
    color: white;
    width: 10px;
    cursor: pointer;
}

#modeButton-1 {
    display: inline;
}

#modeButton-2 {
    display: none;
}

.about-me {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #FCF6F5FF;
    color: whitesmoke;
    width: 100%;
    height: 210px;
    overflow: hidden;
}

.about-me ul {
    width: 430px;
    height: 140px;
    display: inline-block;
    overflow-y: scroll;
    line-height: 28px;
    align-items: center;
    text-align: center;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.6);
}

.about-me ul::-webkit-scrollbar {
    width: 0.2em;
}

.about-me ul::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.about-me ul::-webkit-scrollbar-thumb {
  background-color: white;
  outline: 1px solid grey;
}

.about-me-content {
    position: relative;
    z-index: 2;
}

.about-me-background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-image: url("https://img.freepik.com/premium-photo/wood-table-top-blurred-kitchen-background_327072-7121.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(1px) brightness(50%);
}

.button-size-1 {
    width: 80px;
    height: 40px;
    font-size: 25;
    cursor: pointer;
}

.button-size-2 {
    width: 180px;
    height: 40px;
    font-size: 25;
    cursor: pointer;
}

.content_column {
    height: auto;
    width: 100%;
    margin: auto;
    display: inline-flex;
    justify-content: space-between;
}

.aside-container-1 {
    margin-left: 230px;
    margin-top: 15px;
    overflow: auto;
    white-space: nowrap;
}

.aside-container-1 img{
    padding: 10px;
}

.aside-container-2 {
    margin-left: 30px;
    margin-top: 15px;
    overflow: auto;
    white-space: nowrap;
}

.aside-container-2 img{
    padding: 10px;
}

.article-title {
    margin-top: 20px;
}

.article-1 {
    background-color: #FCF6F5FF;
    height: 250px;
    width: 60%;
    padding-left: 20px;
}

.article-1-text {
    width: 83%;
    text-align: justify;
    position: relative;
    animation: slideright 3s forwards;
}
	
@keyframes slideright {
	from {
		right:-135px;
		opacity:0%;
	}
	to {
		right:-55px;
		opacity: 100%;
	}
}


.aside-1 {
    background-color: #2D2926FF;
    color:#FFFFFF;
    height: 250px;
    width: 40%;
    padding: auto;
}

.article-2 {
    background-color: #FCF6F5FF;
    height: 250px;
    width: 60%;
    text-align: right;
    padding-right: 20px;
    padding: auto;
}

.article-2-text {
    width: 83%;
    text-align: justify;
    position: relative;
    animation: slideleft 3s forwards;
}
	
@keyframes slideleft {
	from {
		padding-left:0px;
		opacity:0%;
	}
	to {
		padding-left:80px;
		opacity: 100%;
	}
}

.aside-2 {
    background-color: #2D2926FF;
    color:#FFFFFF;
    height: 250px;
    width: 40%;
    padding: auto;
}

footer {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #06030F;
    color: white;
}
